*{ 
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;

}

#container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    width: 300px;
    height: 300px;
    margin: 5mm;
    background-color: blueviolet;
}