
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier;
}

html, body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container{
    background-color: rgb(184, 215, 224);
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    padding: 5mm;    
    font-weight: 600;
}

.temas{
    width: calc(100% - 100px);
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.918);
    border-radius: 10mm;
    padding: 5mm;

}

h2,p{
    padding-bottom: 5mm;
}

.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid rgb(0, 0, 0);
    padding: 2mm; 
    border-radius: 5mm;
}

a{
    display: flex;
    padding: 2mm;
    margin: 1mm;
    border: 1px solid rgb(139, 136, 136);
    border-radius: 2mm;
    text-decoration: none;
    color: rgb(0, 132, 255);
}