
* {
    margin: 0;
    padding: 0;
}




html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(201, 15, 160);
}

.square {
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    background-color: brown;
}